<!DOCTYPE html>
<html>
  <head>
    <title>Welp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag '/favicon.ico' %>

    <link href="https://fonts.googleapis.com/css?family=Dosis:400,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    
    <% backgroundImg = [image_url('pie.jpg'), image_url('sushi.jpg'), image_url('food.jpg')] %>
    <% backgroundImg.map do |img| %>
      <script type="text/javascript">
        window.background = "<%= img %>"
      </script>
    <% end %>

    <script type="text/javascript">
        window.pieURL = "<%= image_url('pie.jpg') %>"
        window.sushiURL = "<%= image_url('sushi.jpg') %>"
        window.burgerURL = "<%= image_url('burger.jpg') %>"
   </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
